* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
	font-size: 120%;
	background-color: whitesmoke;
}

.header {
	width: 30%;
	color: white;
	background: rgba(255, 144, 0, .66);
	text-align: center;
	border: 1px solid rgba(255, 144, 0, .66);
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	margin: 20px auto 0;
	padding: 20px;
}
#login {
	width: 30%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #B0C4DE;
	background: white;
	border-radius: 0px 0px 10px 10px;
}
.input-group {
	margin: 10px 0px 10px 0px;
}

.input-group label {
	display: block;
	text-align: left;
	margin: 3px;
}
.input-group input {
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
.btn {
	padding: 10px;
	font-size: 15px;
	color: white;
	background: rgba(255, 144, 0, .66);
	border: none;
	border-radius: 5px;
}
.error {
	width: 92%;
	margin: 0px auto;
	padding: 10px;
	border: 1px solid #a94442;
	color: #a94442;
	background: #f2dede;
	border-radius: 5px;
	text-align: left;
}
.success {
	color: #3c763d;
	background: #dff0d8;
	border: 1px solid #3c763d;
	margin-bottom: 20px;
}
header {
	background: rgb(255, 144, 0);
	position:fixed;
	text-align: center;
	z-index: 999;
	width: 100%;
	height: 66px;
	display: grid;
	grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
}

.nav-bar {
	/*background: rgba(85,214,170,.54);*/
	grid-column: 3 / 4;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.nav-bar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}

.nav-bar li {

	margin-left: 3em;
	margin-bottom: 0;
}

.nav-bar a {
	color: white;
	text-decoration: none;
	font-size: 1.2rem;
	text-transform: uppercase;
	opacity: 1;
	position: relative;
}

.nav-bar a:hover {
	color: black;

}

.nav-bar a::before {
	content: '';
	display: block;
	height: 5px;
	background: black;
	position: absolute;
	bottom: -.50em;
	left: 0;
	right: 0;
	transform: scale(0, 1);
	transition: transform ease-in-out 250ms;
}

.nav-bar a:hover::before {
	transform: scale(1, 1);
}
.collection li {
	margin: 0 6px 10px;
	font-weight: 600;
}

.content-albums,.content-album {

	padding-top:100px;
	margin:0 auto;

}


.cover{
	width:100%;
	height: 100%;
	top: 0;
	left: 0;
}
.cover-top {
	width:100%;
	height: 100%;
	padding:10px 0 10px;
}

.collapsible-header {
	font-size: 16px;
	font-weight: 700;
}
.container{
	padding-top:100px;
	text-align: center;
}
.description {
	text-align: justify;
}

.collapsible-body {
	word-wrap: break-word;
}
.bottom-album,.bottom {
	padding: 40px 0 40px;
}
.bottom-album {
	font-size:30px;
}
h2,h4 {
	padding:0;
	margin:0;
	text-align: left;
}
.add_favourite, .remove_favourite{
  background-color: orange;
	font-size: 45px;
}
.add_favourite:hover, .remove_favourite:hover {
  background-color: black;
}
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #C25B56;
	color: black;
	text-align: center;
}
.dropdown-trigger{
	height: 45px;
}
.btn:hover {
	background-color: black;
}
.profil-album {
	height:700px;
}
.card-title{
	background-color: rgb(255, 144, 0);
	border-radius: 5px;
}